
#about{
  background: #EBEAE9;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.about-me{
  display: flex;
  padding: 5em;
}

.welcome-txt{
  font-size: 3em;
}


.about-text{
  padding: 5em 0em;
  text-align: center;
  /* border: 1px solid red; */
  z-index: 1;
}

.collage-one{
  width: 45em;
  margin-right: -3em;
}

.flower-border{
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  z-index: 0;
}

.services-btn{
  width: 20%;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 0.75em;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #e9f0ec;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.services-btn:hover{
  opacity: 0.8;
}
