
#about{
  background: var(--platinum-colors);
  width: 100%;
  height: auto;
  position: relative;
  /* overflow-x: hidden; */
}

.about-me{
  display: flex;
  padding: 4em;
}

.welcome-txt{
  font-size: 3em;
  color: #ABBB5A;
}

.welcome-content{
  color: var(--licorice-black-color);
}


.about-text{
  padding: 5em 0em;
  text-align: center;
  /* border: 1px solid red; */
  z-index: 1;
}

.collage-one{
  width: 30em;
  margin-right: -3em;
  margin-top: 3em;
}

.flower-border{
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  z-index: 0;
}

.services-btn{
  width: 15%;
  border: 2px solid var(--grass-green-color);
  border-radius: 4px;
  font-size: 0.75em;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: var(--grass-green-color);
  color: var(--off-white-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.services-btn:hover{
  background-color: var(--platinum-color);
  color: var(--licorice-black-color);
  border: 2px solid var(--grass-green-color);
}


/* STICKY */

/* .chevron-btn-container{
  padding-top: 3em;
} */

.chevron-btn{
  float: right;
  margin-right: 15px;
  margin-top: 1em;
  font-size: 2em;
  border-radius: 50%;
  padding: 0px 8px;
  cursor: pointer;
  border: 1px solid var(--nav-color);
  background-color: var(--nav-color);
  color: var(--off-white-color);
  transition: 200ms ease-in-out;
}

.chevron-btn:hover{
  opacity: 0.8;
}

.sticky{
  position: sticky;
  top: 20px;
}
