
#about{
  background: var(--platinum-colors);
  width: 100%;
  /* height: 800px; */
  height: 100%;
  position: relative;
  /* overflow-x: hidden; */
}

.about-me{
  display: flex;
  padding: 4em;
}

.welcome-txt{
  font-size: 3em;
  color: #ABBB5A;
  text-align: center;
}

.welcome-content{
  color: var(--licorice-black-color);
  font-weight: 300;
  padding-right: 2em;
}


.about-text{
  padding: 5em 0em;
  /* text-align: center; */
  /* border: 1px solid red; */
  z-index: 1;
}


.about-bullets{
  list-style-type: circle;
}

/* .slogan-txt{
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  width: 75%;
} */

/* .collage-one{
  width: 30em;
  margin-right: -3em;
  margin-top: 3em;
} */


.about-page-img{
  max-width: 100%; /* Ensure the image is responsive */
  height: 50%;
  border: 5px solid var(--grass-green-color);
  margin-top: 5em; /* rEMOVE IF MULTIPLE PICS */
  margin-left: 5em;
}

.about-page-img-two{
  max-width: 100%;
  max-height: 336px;
  margin-top: 2em;
  margin-left: 5em;
  /* height: 20%; */
  border: 5px solid var(--grass-green-color);
}

/* .about-page-img-three{
  max-width: 50%;
  margin-top: 2em;
  margin-left: 2em;
  height: 20%;
  border: 5px solid var(--grass-green-color);
} */

.flower-border{
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  z-index: 0;
}



/* CHANGED from btn to link */

/* .services-btn{
  width: 15%;
  border: 2px solid var(--grass-green-color);
  border-radius: 4px;
  font-size: 0.75em;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-top: 2em !important;
  margin: 0 auto;
  background-color: var(--grass-green-color);
  color: var(--off-white-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.services-btn:hover{
  background-color: #8c994a;
  color: var(--off-white-color);
  border: 2px solid #8c994a;
} */

.services-link{
  /* text-align: center; */
  color: var(--grass-green-color);
  font-weight: 300;
  font-size: 1.2em;
  font-style: italic;
}
