.carousel-image {
  position: relative;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  max-height: 100%; /* Ensure the image doesn't overflow */
}

.carousel-container {
   height: 122vh; /* 122% of viewport height, adjust as needed */
}

.slogan{
  /* font-family: var(--josefin); */
  font-family: 'Croissant One', cursive;
  font-style: italic;
  font-size: 3em;
  font-weight: 300;
}

.dot{
  font-size: 2em;
}

.carousel-slogan{
  position: absolute;
  bottom: 12em;
  left: 7em;
  z-index: 1;
  color: var(--off-white-color);
}

.custom-opacity{
  opacity: 0.8;
}

.chevron-down{
  position: absolute;
  bottom: 4.5em;
  text-align: center;
  font-size: 4em;
  z-index: 1;
  color: var(--licorice-black-color);
  opacity: 0.7;
  transition: 200ms ease-in-out;
}

.chevron-down:hover{
  opacity: 0.4;
}



.fade-in-text{
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
