.carousel-image {
  position: relative;
}

.carousel-container {
  max-height: 50%;
}

.carousel .carousel-item img {
  height: 750px;
}


.slogan{
  /* font-family: var(--josefin); */
  font-family: 'Croissant One', cursive;
  font-style: italic;
  font-size: 3em;
  font-weight: 300;
}

.dot{
  font-size: 2em;
}

.carousel-slogan{
  position: absolute;
  bottom: 9em;
  left: 7em;
  z-index: 1;
  color: var(--off-white-color);
}

.custom-opacity{
  opacity: 0.8;
}

.chevron-down{
  position: absolute;
  bottom: 1em;
  text-align: center;
  font-size: 4em;
  z-index: 1;
  color: var(--licorice-black-color);
  opacity: 0.7;
  transition: 200ms ease-in-out;
}

.chevron-down:hover{
  opacity: 0.4;
}



.fade-in-text{
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
