
#contact{
  width: 100%;
  height: auto;
  padding: 3em;
  /* overflow-x: hidden; */
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: #5f7d89;
  color: var(--off-white-color);
}

.contact-me{
  display: flex;
}

.connect-header{
  font-size: 4.5em;
  /* margin-bottom: 0.5em; */
}

.enquiries{
  margin-top: 3em;
  margin-bottom: 1em;
}

.insta{
  font-size: 2em;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  padding: 5px 9px;
  color: var(--off-white-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.insta:hover{
  opacity: 0.8;
}

.youtube{
  margin-top: 1em;
}

.yt{
  /* margin-left: 2em; */
  font-size: 2em;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  padding: 5px 6px;
  color: var(--off-white-color);
  cursor: pointer;
  transition: 200ms ease-in-out;
  margin-right: 0.5em;
}

.yt:hover{
  opacity: 0.8;
}









/* STICKY */

/* .chevron-btn-container{
  padding-top: 3em;
} */

/* .chevron-btn{
  float: right;
  margin-right: 15px;
  margin-top: 1em;
  font-size: 2em;
  border-radius: 50%;
  padding: 0px 8px;
  cursor: pointer;
  border: 1px solid var(--nav-color);
  background-color: var(--nav-color);
  color: var(--off-white-color);
  transition: 200ms ease-in-out;
}

.chevron-btn:hover{
  opacity: 0.8;
}

.sticky{
  position: sticky;
  top: 20px;
} */
