
#contact{
  width: 100%;
  height: auto;
  /* background-color: #e3edef; */
  background-color: var(--off-white-color);
  color: var(--nav-color);
  padding: 3em 3em;
  font-family: var(--ubuntu);
  font-weight: 200;
}

.contact-details{
  line-height: 2em;
}

.contact-header{
  font-size: 3em;
  font-family: var(--josefin);
}

.discussion-list li{
  list-style-type: '✧  ';
  font-size: small;
}

.youtube{
  font-size: 1.5em;
}


.contact-wrapper{
  display: flex;
}


.contact-form-section{
  padding-left: 4em;
}





/* STICKY */

/* .chevron-btn-container{
  padding-top: 3em;
} */

/* .chevron-btn{
  float: right;
  margin-right: 15px;
  margin-top: 1em;
  font-size: 2em;
  border-radius: 50%;
  padding: 0px 8px;
  cursor: pointer;
  border: 1px solid var(--nav-color);
  background-color: var(--nav-color);
  color: var(--off-white-color);
  transition: 200ms ease-in-out;
}

.chevron-btn:hover{
  opacity: 0.8;
}

.sticky{
  position: sticky;
  top: 20px;
} */
