.hamburger-menu {
  display: none; /* Hide by default for larger screens */
  cursor: pointer;
  padding: 10px;
  position: relative;
  z-index: 1000;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 4px 0;
  transition: 0.3s;
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for mobile screens */
@media (max-width: 540px) {
  .hamburger-menu {
    display: block;
  }
}
