
* { /* Boilerplate styling to make it easier */
  box-sizing: border-box;
}

body{ /* Added so that everything in the nav is budged up to the top of the screen */
  margin: 0;
  padding: 0;
}


/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  color: var(--off-white-color);
  font-family: var(--text-me);
}

.brand-logo img {
  width: 30%;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
  padding: 1.8rem;
  font-size: 1.2em;
}

.navbar-links li a{
  text-decoration: none;
  color: #e9f0ec;
  display: block;
}

/* .navbar-links li .longer{
  margin-right: 0.5em;
} */

.navbar-links li:hover{
  background-color: rgba(75, 131, 181, 0.847);
  border-radius: 5px;
  font-weight: bolder;
}

.navlink-bold {
  font-weight: bolder;
  text-decoration: underline !important;
  text-underline-offset: .2em;
}
