
.nav-bar {
  /* background-color: #D6E8DB; */
  /* background-color: #EBEAE9; */
  background-color: var(--nav-color);
  padding: 1em;
  width: 100%;
}

.logo {
  width: 25%;
}

.link {
  margin-left: 2em;
  color: var(--off-white-color);
  font-weight: 300;
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.link:hover {
  background-color: #70919f;
  color: var(--off-white-color);
}

.navbar-nav .nav-link.active{
  color: var(--off-white-color);
}

.space {
  margin-right: 1.5em;
}

.navbar-toggler{
  position: fixed;
  top: 2em;
  right: 1em;
}

.navbar-toggler-icon{
  font-size: 1rem;
}

.navbar-toggler:focus{
  border: 2px solid rgba(255, 255, 255, 0.2);
}
