
#nav-bar {
  /* background-color: #D6E8DB; */
  /* background-color: #EBEAE9; */
  background-color: #6B867C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.logo {
  width: 9%;
  /* color: white; */
}

.links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.link {
  margin-left: 1em;
  color: #e9f0ec;
  /* color: black; */
  font-weight: 300;
  font-size: 1em;
  padding: 0.5em 1em;
  /* box-sizing: border-box; */
  border-radius: 3px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.link:hover {
  background-color: #c4baaf;
}

.space {
  margin-right: 1.5em;
}

/* .sticky{
  position: fixed;
  top: 0;
  width: 100%;
} */
