
@media (max-width: 960px){

}

@media (max-width: 720px){

}

@media (max-width: 540px){

  .wrapper{
    max-width: 100%;
    overflow-x: hidden;
  }

  /* NAVBAR STYLING */

  .brand-logo img{
    width: 22%;
  }

  /* BANNER STYLING */

  .carousel-slogan{
    font-size: 1.3em;
    bottom: 9em;
  }

  .chevron-down{
    top: 0em;
    text-align: center;
    font-size: 2em;
  }

  .carousel .carousel-item img {
    height: 350px;
  }

  /* ABOUT STYLING */

  #about{
    height: 100%;
  }

  .about-me{
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .about-text{
    padding: 0em;
  }

  .flower-border-top{
    width: 10em;
  }

  .flower-border-bottom{
    width: 10em;
  }


  .welcome-txt{
    font-size: 2em;
    margin-top: 0em;
  }

  .welcome-content{
    text-align: center;
    padding: 1em 0em;
  }

  .about-collage{
    display: block;
  }

  .about-page-img{
    max-width: 250px;
    margin-left: -2em;
  }

  .about-collage-art{
    display: none;
  }

  .services-link{
    font-size: 1.5em;
    text-align: center;
  }



  /* SERVICES STYLING */

  #services{
    /* padding: 3em 1em; */
    height: 100%;
  }

  .services-details{
    padding: 2em 2em;
  }

  .services-slogan{
    font-size: 1.5em;
  }

  .outcomes-list li{
    width: 80%;
    margin-bottom: 2em;
  }

  .outcomes-list{
    display: block;
  }

  /* REVIEWS STYLING */

  #reviews {
    padding: 5em 1em; /* Adjust padding for small screens */
  }

  .my-reviews{
    display: block;
  }

  /* CONTACT STYLING */

  #contact{
    height: 100%;
  }

  .contact-wrapper{
    display: block;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
  }

  .contact-details{
    display: block;
    margin-bottom: 3em;
  }

  .discussion-list{
    text-align: start;
    margin-left: 2em;
  }

  .contact-form-section{
    display: block;
    margin: 0 auto;
    text-align: left;
  }

  .submit-btn{
    width: 91% !important;
  }

}
