
@media (max-width: 960px){

}

@media (max-width: 720px){

}

@media (max-width: 540px){

  .wrapper{
    max-width: 100%;
    overflow-x: hidden;
  }

  /* NAVBAR STYLING */

  .brand-logo{
    width: 17%;
  }

  /* BANNER STYLING */

  .carousel-slogan{
    font-size: 1.3em;
    bottom: 9em;
  }

  .chevron-down{
    top: 0em;
    text-align: center;
    font-size: 2em;
  }

  .carousel .carousel-item img {
    height: 350px;
  }

  /* ABOUT STYLING */

  #about{
    height: 100%;
  }

  .about-me{
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .about-text{
    padding: 0em;
  }

  .flower-border-top{
    width: 10em;
  }

  .flower-border-bottom{
    width: 10em;
  }


  .welcome-txt{
    font-size: 2em;
    margin-top: 0em;
  }

  .welcome-content{
    text-align: center;
    padding: 1em 0em;
  }

  .about-collage{
    display: block;
  }

  .about-page-img{
    max-width: 250px;
    margin-left: -2em;
  }

  .services-link{
    font-size: 1.5em;
    text-align: center;
  }



  /* SERVICES STYLING */

  #services{
    /* padding: 3em 1em; */
    height: 100%;
  }

  .services-details{
    padding: 2em 2em;
  }

  .services-slogan{
    font-size: 1.5em;
  }

  .outcomes-list li{
    width: 80%;
    margin-bottom: 2em;
  }

  .outcomes-list{
    display: block;
  }

  /* REVIEWS STYLING */

  #reviews{
    height: 100%;
  }

  .my-reviews{
    display: block;
    margin: 0 auto;
    margin-left: -5em;
  }

  /* .review-section{
    margin-top: 4em;
    width: 400px;
  } */

  /* CONTACT STYLING */

  #contact{
    height: 100%;
  }

  .contact-me{
    display: inline-block;
  }

  .connect-header{
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
  }

  .enquiries{
    text-align: center;
  }

  .insta{
    text-align: center;
  }

  .form-section{
    display: block;
    margin: 0em auto;
    margin-left: -11em; /*CHANGE/FIX*/
  }



}
