
/* DEFINING COLOURS */

:root {

  /* COLOURS */
  --nav-color: #5B94C7; /* navbar colour */
  --off-white-color: #EAE9EB; /* off-white colour */
  --licorice-black-color: #0D040F; /* black colour */
  --platinum-color: #EBEAE9; /* beige background colour */
  --grass-green-color: #ABBB5A; /* green colour */
  --yellow-color: #F1F3B4; /* yellow colour */

  /* FONT FAMILY */
  --josefin : 'Josefin Sans', sans-serif; /* for banner and headers */
  --text-me : 'Text Me One', sans-serif; /* for paragraphs NOT USING */
  --ubuntu : 'Ubuntu', sans-serif; /* for paragraphs */
  --croissant : 'Croissant One'; /* more italic, cursive text */
}

/* #ABBB5A green */

.wrapper{
  width: 100%; /* might need to get rid of if implementing sticky */
  height: 100%;
  overflow-x: hidden; /* might need to get rid of if implementing sticky */
}
